{% extends "bases.html.twig" %}

{% block main %}
	<h2>Vous avez
		{{ age }}
		ans, Vous pouver jouer au poker.</h2>
	<img src="https://pnimg.net/w/articles/4/55f/605a20240a.jpg" alt="">
{% endblock %}
