{% extends "bases.html.twig" %}

{% block header %}

	{{ parent() }}
	<h2>Article n°{{ article.id }}</h2>

{% endblock %}

{% block main %}

	<h1>{{article.titre}}</h1>
	<p>{{article.contenu}}</p>

{% endblock %}
