<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{ asset('css/style.css') }}">
		<title>Document</title>
	</head>
	<body>
		<h1>{{article.titre}}</h1>
		<p>{{article.contenu}}</p>
		{# à l'aide du fichier style.css mettre tous les h1 en rouge, les h2 en bleu,
				les p en vert, la taille du texte des p en 1.5em, et mettre un fond vert pour les h1
				 , rouge pour les h2 et jaune pour les p #}
	</body>
</html>
