{% extends "bases.html.twig" %}

{% block main %}

	<h2>Vous avez
		{{ age }}
		ans, vous n'êtes pas autorisé à jouer au poker</h2>
	<img src="https://www.pokepedia.fr/images/thumb/1/17/Dracaufeu-RFVF.png/1200px-Dracaufeu-RFVF.png" alt="">

{% endblock %}
